header{
	width: 10.0rem;
	height: 1.196106rem;
	background: #a82f27;
}
header img{
	float: left;	
	width: 0.486787rem;
	height: 0.723227rem;
	margin-top: 0.208623rem;
	margin-left: 0.417246rem;
}
header h2{
	margin-top: 0.347705rem;
	margin-right: 4.49235rem;
	float: right;
	color: white;
	font-weight: 100;
}
.fenlei{
	width: 10.0rem;
	height: 1.112656rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.fenlei li a{
	font-size: 0.35rem;
}
.stroeList{
	width: 10.0rem;
	float: left;
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;
}
.stroeList li{
	width: 4.826147rem;
	height: 6.328234rem;
	float: left;
	padding: 0.35rem 0.35rem;
}
.stroeList li img{
	width: 4.172462rem;
	height: 4.172462rem;
}
.stroeList li p{
	width: 4.172462rem;
	margin-top: 0.2rem;
	text-align: center;
}
.fenye{
	width: 10.0rem;
	float: left;
	padding: 0  0.5rem;
	margin-bottom: 2rem;
	font-size: 0.35rem;
}
.fenye li{
	float: left;
	padding: 0  0.6rem;
}

/*动态添加颜色*/
.myColor{
	color: red;
}
